<div class="col-lg-6">
  <ul class="list-unstyled">
    <li>
      <a href="/categories.html#frontend">
        前端杂烩
      </a>
    </li>
    <li>
      <a href="/categories.html#linux">
        Linux
      </a>
    </li>
    <li>
      <a href="/categories.html#design-pattern">
        设计模式
      </a>
    </li>
    <li>
      <a href="/categories.html#Node">
        Node
      </a>
    </li>
  </ul>
</div>
<!-- /.col-lg-6 -->
<div class="col-lg-6">
  <ul class="list-unstyled">
    <li>
      <a href="/categories.html#thinking">
        胡思乱想
      </a>
    </li>                  
    <li>
      <a href="/categories.html#php">
        PHP和SQL
      </a>
    </li>
    <li>
      <a href="/categories.html#vim">
        Vim实践
      </a>
    </li>
    <li>
      <a href="/categories.html#other">
        其他玩意
      </a>
    </li>
  </ul>
</div>
<!-- /.col-lg-6 -->
