<header class="site-header">
  <div class="wrap">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <nav class="site-nav">
      <div class="trigger">
        <a class="page-link" href="/">首页</a>
        {% for page in site.pages %}
          {% if page.nav %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
          {% endif %}
        {% endfor %}
          <a class="page-link" href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS订阅</a>
      </div>
    </nav>
  </div>
  <!-- fork me on github -->
  <a id="fork-me" href="https://github.com/LeuisKen/leuisken.github.io"><img src="{{ site.static_url }}/forkme.png" alt="Fork me on GitHub"></a>
</header>
