<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        {% if page.title %}
            {{ page.title }} | {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{% if page.description %}{{ page.description }} {% else %} {{ site.description }} {% endif %}">
    <link rel="alternate" type="application/rss+xml" title="leuisken的小屋 RSS" href="{{ "/feed.xml" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link href="/assets/images/favicon.png" rel="shortcut icon" type="image/x-icon" />

    <!-- Custom CSS -->
    <!-- build:css /release/style.css -->
    <link rel="stylesheet" href="/assets/css/normalize.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/posts.css">
    <link rel="stylesheet" href="/assets/css/pygments.css">
    <link rel="stylesheet" href="/assets/css/pages.css">
    <!-- endbuild -->
    
    <!-- handle external js files -->
    <script type="text/javascript" src="/assets/js/lib/jquery/jquery-1.11.1.min.js"></script>

</head>
