<div class="intro">
    <h4>博主</h4>
    <hr/>
    <p>
        <img class="avatar" src="{{ site.static_url }}/avatar.png"/>
        我是魏嘉汛，英文名LeuisKen，常简称为lk。欢迎大家来到我的博客。我的Email: <a href="mailto:leuisken@gmail.com">leuisken#gmail.com</a>
    </p>
</div>

<!-- other sites -->
<div class="other-sites">
    <h4>我在别处</h4>
    <hr/>
    <p>你可以在其他地方找到我：</p>
    <a href="https://github.com/LeuisKen"><img class="icon" src="{{ site.static_url }}/github_icon.png" title="Github"/></a>
    <a href="http://www.zhihu.com/people/LeuisKen"><img class="icon" src="{{ site.static_url }}/zhihu_icon.png" title="知乎" /></a>
    <a href="http://segmentfault.com/u/leuisken"><img class="icon" src="{{ site.static_url }}/sf_icon.png" title="segmentfault" /></a>
</div>
<!-- end -->

<div>
    <h4>友情链接</h4>
    <hr/>
    <a href="http://www.cnblogs.com/rizzle">Rizzle的博客</a><br />
    <a href="http://jerryzou.com/">咀嚼之味</a><br />
    <a href="https://daijiale.github.io">DaiJiale's Blog</a><br />
    <a href="http://www.hackblog.cn/">luo的博客</a>
</div>