/* Base */
/* ----------------------------------------------------------*/

html {
  font-size: 16px;
}

body {
  font:400 1em/1.8 Avenir, 'Segoe UI', 'Hiragino Sans GB', 'STHeiti', 'Microsoft Yahei', 'Microsoft Sans Serif', 'WenQuanYi Micro Hei', sans-serif;
  background-color: #fdfdfd;
}

a         { color: #1abc9c; text-decoration: none; }
a:hover   { text-decoration: underline; }
a:visited { color: #205caa; }

hr{
  border:none;
  border-bottom:1px solid #cfcfcf;
  margin-bottom:10px;
  *margin:-7px 0 2px;
}

/* Utility */

.wrap:before,
.wrap:after { content:""; display:table; }
.wrap:after { clear: both; }
.wrap {
  max-width: 1050px;
  padding: 0 30px;
  margin: 0 auto;
  zoom: 1;
}

/* Layout Styles */
/* ----------------------------------------------------------*/

/* Site header */

.site-header {
  border-top: 5px solid #333;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  background-color: white;
}

.site-title,
.site-title:hover,
.site-title:visited {
  display: block;
  color: #333;
  font-size: 26px;
  float: left;
  line-height: 56px;
  position: relative;
  z-index: 1;
}

.site-nav {
  float: right;
  line-height: 56px;
}

.site-nav .menu-icon { display: none; }

.site-nav .page-link {
  margin-left: 20px;
  color: #727272;
}

#fork-me img{
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  width: calc((100% - 1050px)/2);
  max-width: 149px;
}

@media (max-width: 1250px) {
  #fork-me {
    display: none;
  }
}

/* Site footer */

.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 10px 0 15px;
}

.friend-links {
  margin: 0;
  padding: 0;
  list-style: none;
}

.friend-links li {
  display: inline;
  padding: 0 10px;
  border-right: 1px solid #333;
}

.friend-links li:last-child {
  border: 0;
}

.friend-links a,
.friend-links a:hover,
.friend-links a:active {
  color: #333;
}

.footer-text {
  font-size: 0.8em;
  text-align: center;
  margin: 0;
}

@media screen and (max-width: 600px) {
  .footer-text {
    font-size: 0.7em;
  }
}

/* Page Content styles */
/* ----------------------------------------------------------*/

.page-content {
  padding: 30px 0;
  background-color: #fff;
}

/* Home styles */
/* ----------------------------------------------------------*/

.central-part {
  float: left;
  max-width: 880px;
  width: calc(75% - 20px);
}

.side-part {
  float: left;
  min-width: 150px;
  width: 25%;
  font-size: 13px;
  padding: 0 0 0 20px;
}

@media (max-width: 840px) {
  .central-part {
    width: 100%;
  }

  .side-part {
    width: 100%;
    padding: 0;
  }
}

.posts {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.posts li {
  margin: 20px 0;
  border-bottom: 1px #ccc dashed;
}

.posts li:first-of-type {
  margin-top: 0;
}

.posts .post-link {
  font-size: 1.25em;
  line-height: 1;
}

.posts .post-date {
  font-size: 0.75em;
  color: #818181;
}

.posts .post-date a:hover {
  text-decoration: none;
}

.posts .post-label {
  color: #777;
  background: #FFF5DE;
  padding: 1px 5px;
  margin: 0 0 4px 4px;
  border-radius: 2px;
  border: 1px solid #aaa;
  display: inline-block;
}

.posts .post-description {
  font-size: 14px;
  color: #555;
}

/* Sidebar */
.side-part > div {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.side-part h4 {
  font-size: 1.1em;
  font-weight: 400;
  margin: 0;
}

#latest-comments {
  margin-bottom: 8px;
}

.intro .avatar {
  width: 40px;
  height: 40px;
  float: right;
}

.other-sites img {
  cursor: pointer;
  margin: 4px 6px 0 0;
  width: 24px;
  height: 24px;
  opacity: 0.6;
}

.other-sites img:hover {
  opacity: 1;
}

.ds-recent-comments {
  font-size: 14px;
}

/* media queries */
/* ----------------------------------------------------------*/

@media screen and (max-width: 600px) {

  .wrap { padding: 0 12px; }

  .site-nav {
    position: fixed;
    z-index: 10;
    top: 14px; right: 8px;
    background-color: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #e8e8e8;
  }

  .site-nav .menu-icon {
    display: block;
    font-size: 24px;
    color: #505050;
    float: right;
    width: 36px;
    text-align: center;
    line-height: 36px;
  }

  .site-nav .menu-icon svg { width: 18px; height: 16px; }

  .site-nav .trigger {
    clear: both;
    margin-bottom: 5px;
    display: none;
  }

  .site-nav:hover .trigger { display: block; }

  .site-nav .page-link {
    display: block;
    text-align: right;
    line-height: 1.25;
    padding: 5px 10px;
    margin: 0;
  }

}

/** pager **/
.pager {
    padding-left: 0;
    margin: 20px 0;
    list-style: none;
}
.pager li {
    display: inline;
}
.pager .next>a, .pager .next>span {
    float: right;
}
.pager li>a, .pager li>span {
    font-size: 15px;
    display: inline-block;
    padding: 5px 14px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 15px;
}