---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}
        {% if page.labels %}
            {% for label in page.labels %}
                <a class="label" href="{{ site.baseurl }}/all-articles/?label={{ label }}">{{ label }}</a>
            {% endfor %}
        {% endif %}
    </p>
  </header>

  <article class="post-content">
  {{ content }}
  </article>

</div>

<!-- UY BEGIN -->
<div id="uyan_frame"></div>
<script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2013072"></script>
<!-- UY END -->